<div class="m-menu">

    <div class="m-menu__box-list">
        <ul>
            <li>
                <a href="{{ url('la-tenuta') }}" class="a-fade-letter" data-delay="0">{{ 'la tenuta'|trans }}</a>
            </li>
            <li>
                <a href="{{ url('le-vigne') }}" class="a-fade-letter" data-delay="1">{{ 'le vigne'|trans }}</a>
            </li>
            <li>
                <a href="{{ url('il-metodo-nenni') }}" class="a-fade-letter" data-delay="2">{{ 'il metodo nenni'|trans }}</a>
            </li>
            <li>
                <a href="{{ url('vini') }}" class="a-fade-letter" data-delay="3">{{ 'i vini'|trans }}</a>
            </li>
            {% if(news|length > 0) %}
             <li>
                <a href="{{ url('news_list') }}" class="a-fade-letter" data-delay="4">{{ 'news'|trans }}</a>
            </li> 
            {% endif %}
            <li>
                <a href="#" class="a-fade-letter" data-delay="5">{{ 'contatti'|trans }}</a>
            </li>
        </ul>

        <div class="m-menu__close">
            <svg viewBox="0 0 20 20">
                <path fill="none" d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z"></path>
            </svg>
        </div>
    </div>

    {# <div class="m-menu__languages">
        <a href="{{ url('home', {'_locale': 'it'}) }}">italian</a>  <a href="{{ url('home', {'_locale': 'en'}) }}">english</a>
    </div> #}

    <div class="m-menu__square a-tilt"  data-tilt-reset="false" data-tilt-max="5" data-tilt-speed="100">
        <div class="m-menu__square-wrapper">
            <div class="m-bg-0"  style="background: url('/img/menu/hero_la_tenuta.jpg') no-repeat center center; background-size: cover;"></div>
            <div class="m-bg-1" style="background: url('/img/menu/hero_vigne.jpg') no-repeat center center; background-size: cover;"></div>
            <div class="m-bg-2" style="background: url('/img/menu/hero_il_metodo.jpg') no-repeat center center; background-size: cover;"></div>
            <div class="m-bg-3" style="background: url('/img/menu/hero_vini.jpg') no-repeat center center; background-size: cover;"></div>
            <div class="m-bg-4" style="background: url('https://source.unsplash.com/random/1000x1005') no-repeat center center; background-size: cover;"></div>
            <div class="m-bg-5" style="background: url('https://source.unsplash.com/random/1000x1006') no-repeat center center; background-size: cover;"></div>
        </div>
    </div>

</div>
