<div class="m-wine-sheet">
    <div class="m-wine-sheet__wrapper">
        <div class="m-wine-sheet__frame"></div>
        <div class="m-wine-sheet__id">
            <div class="id-logo"><img src="{{ asset('img/wine-logo.png') }}" alt=""></div>
            <div class="id-wings"><img src="{{ asset('img/wine-wings.png') }}" alt=""></div>
            <p class="id-caption">{{ block.getTitle() }}</p>
        </div>
        <div class="m-wine-sheet__bottle">
            <img src="{{ asset('img/wine-bottle-' ~ index ~ '.png') }}" alt="">
        </div>
        <div class="m-wine-sheet__info">
            <p class="info-text">{{index}} {{ block.getContent() }}</p>
            <a class="info-cta" href="{{ block.getLink() }}">{{ block.getLinkLabel() }}</a>
        </div>
    </div>
</div>