{% extends 'base.html.twig' %}

{% block content %}
    <div class="barba-container" data-namespace="homepage">

        {# Blocks #}
        {% for block in blocks %}
            {{ include(block.getTemplate(), { 'block': block }) }}
        {% endfor %}

        {# Wine Block #}
        {{ include(wine.getTemplate(), { 'block': wine }) }}

        {# News Block #}
        <div class="a-stagger-y">
            <div class="m-news-list">
                {% for single_news in news %}
                    <article class="m-news-list__el  a-stagger-y__el">
                        <img src="https://source.unsplash.com/random/800x600" alt="" class="m-news-list__img" data-preload>
                        <a href="{{ url('single_news', {'news_url': single_news.url}) }}" class="m-news-list__wrapper-info">
                            <div class="a-fade-in">
                                <time datetime="{{ single_news.date|date("d/m/Y") }}" class="m-news__time">{{ single_news.date|date("d/m/Y") }}</time>
                                <h1 class="m-news__title  a-fade-word">
                                    {{ single_news.title }}
                                </h1>
                            </div>
                        </a>
                    </article>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}