{% extends 'base.html.twig' %}

{% import "_macro/_m-video-ratio.html" as mVideoRatio %}
{% import "_macro/_m-full-text.html" as mFullText %}

{% block content %}
    <div class="barba-container" data-namespace="homepage">

        {% for block in blocks %}
            {{ include(block.getTemplate(), { 'block': block }) }}
        {% endfor %}


        {#{{ mVideoRatio.build({#}
            {#'title': 'Vigna Allegra',#}
            {#'text': 'Sottotitolo per la Vigna Allegra',#}
            {#'video': '/img/le-vigne/allegra.mp4'#}
        {#}) }}#}

        {#{{ mFullText.build({#}
            {#'theme': 'light',#}
            {#'title': 'Vigna Allegra',#}
            {#'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'#}
        {#}) }}#}



        {#{{ mVideoRatio.build({#}
            {#'title': 'Vigna Barucci',#}
            {#'video': '/img/le-vigne/barucci.mp4'#}
        {#}) }}#}

        {#{{ mFullText.build({#}
            {#'theme': 'dark',#}
            {#'title': 'Vigna Barucci',#}
            {#'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',#}
            {#'link': 'http://www.google.it',#}
            {#'label': 'discover'#}
        {#}) }}#}


        {#{{ mVideoRatio.build({#}
            {#'title': 'Vigna Sara',#}
            {#'text': 'Sottotitolo per la Vigna Sara',#}
            {#'video': '/img/le-vigne/sara.mp4'#}
        {#}) }}#}

        {#{{ mFullText.build({#}
            {#'theme': 'dark',#}
            {#'title': 'Vigna Sara',#}
            {#'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'#}
        {#}) }}#}

    </div>
{% endblock %}