<div class="m-wine-sheet">
    <div class="m-wine-sheet__wrapper">
        <div class="m-wine-sheet__frame"></div>
        <div class="m-wine-sheet__id">
            <div class="id-logo"><img src="{{ asset('img/wine-logo.png') }}" alt=""></div>
            <div class="id-wings"><img src="{{ asset('img/wine-wings.png') }}" alt=""></div>
            <p class="id-caption">{{ block.getTitle()|raw }}</p>
        </div>
        <div class="m-wine-sheet__bottle">
            <img src="{{ vich_uploader_asset(block, 'imageFile') }}" alt="">
        </div>
        <div class="m-wine-sheet__info">
            {# <p class="info-text">{{ block.getContent()|raw }}</p>

            <div>
                <a class="m-cta  m-cta--white" href="{{ block.getLink() }}">
                    <span>
                        {{ block.getLinkLabel() }}
                    </span>
                </a>
            </div> #}

            <div class="m-text-media__text  a-tilt" data-tilt-reset="false" data-tilt-max="5" data-tilt-speed="70">
                <article>
                    <span class="m-title  m-title--white  a-fade-letter">
                        Lorem Ipsum
                    </span>
                    <p class="a-fade-word">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum ducimus fuga nisi quidem, adipisci id praesentium dolore nam aliquid molestiae omnis.
                    </p>
                    <a href="{{ block.getLink() }}" class="m-cta  m-cta--white">
                        <span>
                            SCARICA PDF
                        </span>
                    </a>
                </article>
            </div>


        </div>
    </div>
</div>