<div class="m-wine-sheet">
    <div class="m-wine-sheet__wrapper">
        <div class="m-wine-sheet__frame"></div>
        <div class="m-wine-sheet__id">
            {% if vich_uploader_asset(block, 'logoFile') %}
                <div class="id-logo"><img src="{{ vich_uploader_asset(block, 'logoFile') }}" alt=""></div>
            {% endif %}
            <div class="id-wings"><img src="{{ asset('img/wine-wings.png') }}" alt=""></div>
            <p class="id-caption">{{ block.getTitle()|raw }}</p>
        </div>
        <div class="m-wine-sheet__bottle">
            <img src="{{ vich_uploader_asset(block, 'imageFile') }}" alt="">
        </div>
        <div class="m-wine-sheet__info">
            {# <p class="info-text">{{ block.getContent()|raw }}</p>

            <div>
                <a class="m-cta  m-cta--white" href="{{ block.getLink() }}">
                    <span>
                        {{ block.getLinkLabel() }}
                    </span>
                </a>
            </div> #}

            <div class="m-text-media__text  a-tilt" data-tilt-reset="false" data-tilt-max="5" data-tilt-speed="70">
                <article>
                    <span class="m-title  m-title--white  a-fade-letter">
                        {{ block.getTitle()|raw }}
                    </span>
                    <p class="a-fade-lines">
                        {{ block.getContent()|raw }}
                    </p>
                    {% if(vich_uploader_asset(block, 'pdfFile')) %}
                    <a href="{{ vich_uploader_asset(block, 'pdfFile') }}" class="m-cta  m-cta--white no-barba">
                        <span>
                            DOWNLOAD PDF
                        </span>
                    </a>
                    {% endif %}
                </article>
            </div>


        </div>
    </div>
</div>